/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';

@import 'highlight.js/styles/github-dark.css';


.material-icons{
    vertical-align: bottom;
}


/* Botones */
.buttons {
    display: flex;
    gap: 10px;
}